<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
    <h1>Welcome to Gamified</h1>
       <form class="form-signin">
       <div class="row">
          <div class="span4 offset2">
               <input type="text" name="username" class="input-block-level" placeholder="User name"/>
          </div>
       </div>
       <div class="row">
          <div class="span4 offset2">
               <input type="password" name="password" class="input-block-level" placeholder="Password"/>
          </div>
       </div>
       <div class="row">
          <div class="span4 offset2">
              <button class="" type="submit">Sign in</button>
          </div>
       </div>
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
       </form>
    </div>
  </body>
</html>